@namespace Dodoco.Launcher.Blazor

<TabLayout Caption="Menu" Title="About">
    <div class="h-full flex flex-col gap-4 overflow-y-auto">
        <p class="border-l-4 border-primary p-4">Example </p>
        <h2 class="font-bold uppercase text-lg"><span class="text-primary">#</span> CONTRIBUTORS</h2>
        <p>Brendo Costa</p>
        <h2 class="font-bold uppercase text-lg border-l-4 border-primary p-4 leading-none">Fonts</h2>
        <p>"Josefin Sans" by Santiago Orozco available under SIL Open Font License 1.1</p>
        <div class="rounded w-[256px] overflow-hidden">
            <img src="https://dotesports.com/wp-content/uploads/2023/05/ganyu-genshin-impact.jpg?w=1200"/>
        </div>
    </div>
</TabLayout>