@namespace Dodoco.Launcher.Blazor
@inherits LayoutComponentBase

<div
    class="
        w-screen h-screen
        bg-[url('https://launcher-webstatic.hoyoverse.com/launcher-public/2023/11/07/439721ddf306d5badc224cbdfa9314ca_5723901567835639033.png')]
        bg-no-repeat bg-cover bg-center
        [&_.overflow-y-auto]:scrollbar [&_.overflow-y-auto]:scrollbar-thumb-background [&_.overflow-y-auto]:hover:scrollbar-thumb-primary [&_.overflow-y-auto]:scrollbar-thumb-rounded [&_.overflow-y-auto]:scrollbar-track-background/30 [&_.overflow-y-auto]:scrollbar-track-rounded
        [&_.overflow-y-scroll]:scrollbar [&_.overflow-y-scroll]:scrollbar-thumb-background [&_.overflow-y-scroll]:hover:scrollbar-thumb-primary [&_.overflow-y-scroll]:scrollbar-thumb-rounded [&_.overflow-y-scroll]:scrollbar-track-background/30 [&_.overflow-y-scroll]:scrollbar-track-rounded
    "
>
    @Body
</div>
