@namespace Dodoco.Launcher.Blazor
@inherits LayoutComponentBase

<div
    class="
        w-screen h-screen
        bg-[url('https://launcher-webstatic.hoyoverse.com/launcher-public/2023/11/07/439721ddf306d5badc224cbdfa9314ca_5723901567835639033.png')]
        bg-no-repeat bg-cover bg-center
    "
>
    @Body
</div>
